<% var photos = (Array.isArray(photos)) ? post.photos : [post.photos]; %>
<% if (photos && photos.length){ %>
<div class="article-gallery">
  <% photos.forEach(function(photo, i){ %>
    <img src="<%- photo %>" itemprop="image">
  <% }) %>
</div>
<% } %>