<article>
    <header>
        <h1>Posts with tag: <q><%= page.tag %></q></h1>
        <small>other tags:</small>
        <%- list_tags2(site.tags, { orderby: 'name', order: 1, show_count: false, class: 'article-tag' }) %>
    </header>
    <section>
        <%- partial('_partial/blog-list') %>
    </section>
</article>
