/*
@media all and (min-width:1024px) {
    html {
        zoom: 1;
    }
}

@media all and (min-width:1280px) {
    html {
        zoom: 1.25;
    }
}

@media all and (min-width:1536px) {
    html {
        zoom: 1.5;
    }
}

@media all and (min-width:2048px) {
    html {
        zoom: 2;
    }
}
*/

/*html {*/
/*    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255,255,255, 0));*/
/*    background-size: 8px 100vh;*/
/*    background-repeat: repeat-x;*/
/*    background-color: #000;*/
/*}*/


/*html {*/
/*    background: url(detail.jpg), url(detail.jpg);*/
/*    background-blend-mode: multiply;*/
/*    background-size: 2px 100vh, 256px 256px;*/
/*    background-repeat: repeat-x, repeat;*/
/*}*/

/*html {*/
/*    background-image: url(detail.jpg);*/
/*    background-color: #808080;*/
/*    background-blend-mode: multiply;*/
/*    background-size: 256px 256px;*/
/*    background-repeat: repeat;*/
/*}*/




html {
    // background-blend-mode: hard-light;
    // background-image: url(detail.jpg), linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    // background-size: 256px, 8px 640px;
    // background-repeat: repeat, repeat-x;
    // background-color: #000;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 8px 768px;
    background-repeat: repeat-x;
    background-color: #000;
    //margin-top: -640px;
    //padding-top: 640px;
}


body {
    color: #AAA;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;

    > header {
        padding-top: 32px;
        // position: relative;
        // position: -webkit-sticky;
        // position:    -moz-sticky;
        // position:     -ms-sticky;
        // position:      -o-sticky;
        // position:         sticky;
        // top: 0px;
        z-index: 1;
    }

    > footer {
        padding: 32px;
        // position: relative;
        // position: -webkit-sticky;
        // position:    -moz-sticky;
        // position:     -ms-sticky;
        // position:      -o-sticky;
        // position:         sticky;
        // bottom: 0px;
        text-align: center;
    }
}


h1 {
    font-size: 200%;
    text-align: center;
}


main {
    min-height: 640px;
    //padding: 20px;

    > header {
        //background-color: #333;
        text-align: center;
    }

    > article {
        margin: auto;
        max-width: 992px;
        padding: 0 16px;

        > header {
            text-align: right;
            margin-bottom: 32px;
        }
    }
}


pre {
    background: #222;
    border: 1px solid #444;
    margin: 0.5em;
    overflow: auto;
    padding: 1em;

    &::-webkit-scrollbar {
	    background:rgba(0, 0, 0, 0.25);
	    height:0.5em;
	    width:0.5em;
    }

    &::-webkit-scrollbar-thumb {
	    background:rgba(255, 255, 255, 0.5);
	    border-radius:0.25em;
    }
}


figure {
    text-align: center;
}


img:not([src$=".png"]):not([src$=".svg"]) {
    background-color: #333;
}


#mainmenu,
#submenu {
    border-top-left-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.075)), linear-gradient(#F00, #C00);
    background-color: #D80000;
    background-size: 4px 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    color: #000;
    font-size: 1.5em;
    line-height: 40px;
    margin: 0 0 0 12.5%;
    padding: 0 15px;
    position: relative;
    z-index: 2;

    & > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;

        & > li {
            display: inline-block;
            margin-right: 8px;
            padding: 0 8px;

            &:not(:last-of-type)::after {
                //content: "|";
            }

            &.selected {
                background: linear-gradient(#C00, #F00);
                background-color: #C00;
                background-size: 4px 100%;
            }
        }
    }

    a {
        color: #000;
    	font-weight: bold;
        text-decoration: none;

        &:hover,
        &:active {
    	    background: initial;
    	    color: #fff;
        }
    }
}


#submenu {
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 10px 20px;
    border-bottom-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    background: linear-gradient(#FC0, #C90);
    background-color: #FC0;
    background-size: 100% 50%;
    display: inline-block;
    font-size: 0.9em;
    height: 40px;
    line-height: 20px;
    margin: -20px 0 10px calc(64px + 12.5%);
    padding: 0 15px;
    position: initial;

    & > ul {
        padding: 20px 0 0 0;
    }
}


#breadcrumb {
    text-align: right;
}


#breadcrumb > ul {
    padding-right: 40px;
}


#breadcrumb > ul > li {
    display: inline;
}


#breadcrumb > ul > li:not(:last-of-type)::after {
    content: "⟩";
}


#tags > li,
.article-tag-list > li {
    background-color: #f00;
    border-radius: 5px;
    color: #000;
    display: inline;
    margin-right: 8px;
    padding: 0 5px;

    a {
        color: initial;
    	font-weight: normal;
        text-decoration: none;

        &:hover,
        &:active {
    	    background: initial;
    	    color: #fff;
        }
    }
}


body > *:not(header):not(footer) {
    //max-width: 1200px;
    //margin: auto;
}


a {
    &:link {
	    color: #eee;
	    font-weight: bold;
    }

    &:visited {
	    color: #777;
    }

    &:hover {
	    background: #aaa;
	    color: #000;
    }

    &:active {
	    background: #aaa;
	    color: #eee;
    }

    &[href^="http"]:not([href*="kwasi-ich.de"]) {
    	background-image: url( "externalLink.png" );
	    background-repeat: no-repeat;
	    background-position: 100% 60%;
	    padding: 0 1.5em 0 0;
    }

    & > img {
	    vertical-align: text-bottom;
    }
}

b, strong {
    color: #fff;
}

code {
    padding: 0.25em;
    background: #222;
}

pre > code {
    padding: 0;
}

dt {
    color: #fff;
    font-weight: bolder;
    margin: 1.2em 0 0.4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.83em;
    margin-top: 1.66em;
}

ul.articlelist {
    li {
        margin-bottom: 32px;

        p {
            margin: 0.5em 0;
        }
    }
}

table {
    background-color: #333;
    margin: 0.83em 0;

    thead > tr {
        background-color: #555;
    }

    th {
        padding: 5px 10px;
    }

    td {
        padding: 0 10px;
    }
}


























// LEGACY


ul.list128	{
	list-style-type: none;
	margin: 0 2% 0 2%;
    padding: 0;

    li	{
        margin:	1em;
        padding:	0;
        height:	128px;
    }

    span a:hover {
        background: transparent;
    }

    li div	{
        margin: -128px 0 0 192px;
    }
}

.center {
    text-align: center;
}
